.prog {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.sunday,
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
    padding: 15px;
}

@media (max-width: 768px) {
    .prog {
        justify-content: space-evenly;
    }

    .sunday,
    .monday,
    .tuesday,
    .wednesday,
    .thursday,
    .friday,
    .saturday {
        padding: 5px 5px;
        flex-grow: 1;
        text-align: center;
    }
}